.product-card:hover .product-content {
    padding: 45px 28px 28px 28px;
}

.hero h1{
    font-size:110px;
    font-weight:900;

    color:#ffffff;

    text-shadow:
    0 0 20px rgba(0,0,0,.8),
    0 0 40px rgba(0,0,0,.6),
    0 0 60px rgba(255,0,0,.25);
}

.tagline{
    background:rgba(255,0,0,.15);

    border:1px solid rgba(255,0,0,.4);

    color:#fff;

    backdrop-filter:blur(12px);
}